server.port=8081
spring.application.name=NetPoint


spring.datasource.url=REPLACE_ME

spring.datasource.username=postgres.REPLACE_ME


spring.datasource.password=REPLACE_ME


spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true

logging.level.com.netpoint.main=DEBUG
logging.pattern.console=%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
logging.file.name=logs/myapp.log



jwt.secret=REPLACE_ME
jwt.expiration=3600000 


spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=netpoint19923@gmail.com
spring.mail.password=REPLACE_ME
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

app.frontend-url=http://localhost:4200

spring.datasource.hikari.max-lifetime=600000
spring.datasource.hikari.idle-timeout=300000
spring.datasource.hikari.connection-timeout=30000
spring.datasource.hikari.validation-timeout=5000
